<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>


<% @cocktails.each do |cocktail| %>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </h1>
      <br>
      <br>
    </div>
  </div>
</div>
<% end %>

<br>
<%= link_to "create new cocktail", new_cocktail_path %>
